In [1]:
import pandas as pd
import numpy as np

In [8]:
df_tag= pd.read_csv('plots_data/tags_data/alliance.csv')
df_tag['negativity'] = (df_tag['sentiment'] > 0)*1
df_polar = df_tag.groupby(['tags','uploader']).agg({'duration':np.sum, 'view_count':np.sum, 'negativity':np.sum,'comment_count':np.sum, }).reset_index()

In [50]:
faces = list(df_tag.columns[8:-1])

In [47]:
faces = list(df_tag.columns[8:-1])
df_faces_candidate = df_tag[['tags','uploader']+faces].groupby(['tags','uploader']).sum().reset_index()
df_faces_candidate_T = df_faces_candidate.T
df_faces_candidate_T = df_faces_candidate_T[1:]
df_faces_candidate_T.columns = df_faces_candidate_T.iloc[0]
df_faces_candidate_T = df_faces_candidate_T[1:]
df_faces_candidate_T['Total'] = df_faces_candidate_T.values.sum(axis=1)
df_faces_candidate_T = df_faces_candidate_T.sort_values('Total',ascending= False)
del df_faces_candidate_T['Total']

df_faces_list = []
for cols in ['ABN','Sakshi','TV5','TV9']:
    df = df_faces_candidate_T[[cols]]
    df.columns = ['count']
    df['uploader'] = cols
    df_faces_list.append(df)
df_faces = pd.concat(df_faces_list)
df_faces = df_faces.reset_index()
df_faces.columns = ['person','count','uploader']
df_attr = pd.read_excel('UIdata/alphapolitica_faces_attributes_coords.xlsx')
id_dict = dict(zip(df_attr.image_id, df_attr.Name))
df_faces['person'] = [id_dict[i] for i in df_faces['person']]

/var/folders/z7/x6vq9qd56_scz4tkv0sj5lgc0000gn/T/ipykernel_12247/2662883168.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['uploader'] = cols
/var/folders/z7/x6vq9qd56_scz4tkv0sj5lgc0000gn/T/ipykernel_12247/2662883168.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['uploader'] = cols
/var/folders/z7/x6vq9qd56_scz4tkv0sj5lgc0000gn/T/ipykernel_12247/2662883168.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['uploader'] = cols
/var/folders/z7/x6vq9qd56_scz4tkv0sj5lgc0000gn/T/ipykernel_12247/2662883168.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['uploader'] = cols

In [55]:
df_tag= pd.read_csv('plots_data/tags_data/alliance.csv')
df_tag['negativity'] = (df_tag['sentiment'] > 0)*1
faces = list(df_tag.columns[8:-1])
df_fid_list =[]
for f_id in faces:
    df_f = df_tag[df_tag[f_id]>0][['upload_date','duration','comment_count','view_count','sentiment','uploader']]
    df_f['person'] = f_id
    df_fid_list.append(df_f)
df_face_plot = pd.concat(df_fid_list)
df_face_plot = df_face_plot.reset_index()
del df_face_plot['index']

df_bar_grouped = df_face_plot.groupby(['person','uploader']).agg({"sentiment": np.mean, 'view_count': np.sum, 'comment_count':np.sum,'duration':np.sum}).reset_index()
df_bar_grouped  = df_bar_grouped.sort_values('view_count', ascending = False)
df_bar_grouped['duration'] = df_bar_grouped['duration']/(60*60*24)
df_bar_grouped['duration'] = np.round(df_bar_grouped['duration'],1)

KeyError: 'tirupati_l2.png'

In [57]:
pd.read_csv('plots_data/tags_data/alliance.csv')

,ids,upload_date,duration,comment_count,view_count,sentiment,uploader,tags,palakonda.png,tirupati_l2.png,...,urvakonda.png,rangaram.png,baptla.png,anantapur_l.png,dharmavaram.png,rampochandavram.png,rayachoti.png,Telakapalli_Ravi.png,hindupur.png,allagadda.png
0,Rtor62OCiys,2021-02-14,221.0,96.0,144107.0,0.996293,Sakshi,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
1,QxO1DeMYCVM,2021-11-10,41.0,71.0,60322.0,0.998422,Sakshi,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
2,m3cfL8baXbk,2022-08-24,251.0,0.0,2629.0,-0.998899,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
3,KjNlfEBUw0U,2022-09-11,170.0,1.0,3019.0,0.984340,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MAyzQU0-07E,2023-02-16,259.0,0.0,591.0,-0.993995,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7344,RlypWyKDoHI,2023-01-18,355.0,1.0,2267.0,-0.998632,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7345,P5GaRHl3Zdg,2023-01-07,254.0,0.0,1893.0,-0.995144,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,1,0
7346,bvrF-0Y_a_Y,2022-12-18,40.0,5.0,3112.0,0.995644,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7347,UWfN-mwTors,2022-12-10,490.0,124.0,45573.0,-0.997076,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7348,d2QEcCxlaDU,2023-03-01,90.0,127.0,86825.0,-0.998010,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df_faces

                      topic count uploader
0           pulivendula.png   470      ABN
1        chilakuluripet.png   429      ABN
2           rajinikanth.png    69      ABN
3                nagari.png   129      ABN
4          kalayan_durg.png   350      ABN
..                      ...   ...      ...
847          markapuram.png    10      TV9
848      narasaraopet_l.png     1      TV9
849         Amadalavasa.png     1      TV9
850      ramkumar_reddy.png     9      TV9
851  vishakapatnam_east.png     4      TV9

[852 rows x 3 columns]

In [6]:

   col3.metric(label = 'Total Duration (hrs)', value = int(sum(df_polar['duration'].values/(60*60))))
    col3.metric(label = 'Total Views', value =numerize.numerize(int(sum(df_polar['view_count'].values))) )
    col4.metric(label = 'Total Negativity', value = np.round(np.sum(df_polar['negativity'].values)/len(df_face),2) )
    col4.metric(label = 'Total Comments', value = numerize.numerize(int(sum(df_polar['comment_count'].values))))

,ids,upload_date,duration,comment_count,view_count,sentiment,uploader,tags,palakonda.png,tirupati_l2.png,...,urvakonda.png,rangaram.png,baptla.png,anantapur_l.png,dharmavaram.png,rampochandavram.png,rayachoti.png,Telakapalli_Ravi.png,hindupur.png,allagadda.png
0,Rtor62OCiys,2021-02-14,221.0,96.0,144107.0,0.996293,Sakshi,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
1,QxO1DeMYCVM,2021-11-10,41.0,71.0,60322.0,0.998422,Sakshi,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
2,m3cfL8baXbk,2022-08-24,251.0,0.0,2629.0,-0.998899,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
3,KjNlfEBUw0U,2022-09-11,170.0,1.0,3019.0,0.984340,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MAyzQU0-07E,2023-02-16,259.0,0.0,591.0,-0.993995,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7344,RlypWyKDoHI,2023-01-18,355.0,1.0,2267.0,-0.998632,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7345,P5GaRHl3Zdg,2023-01-07,254.0,0.0,1893.0,-0.995144,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,1,0
7346,bvrF-0Y_a_Y,2022-12-18,40.0,5.0,3112.0,0.995644,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7347,UWfN-mwTors,2022-12-10,490.0,124.0,45573.0,-0.997076,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7348,d2QEcCxlaDU,2023-03-01,90.0,127.0,86825.0,-0.998010,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
    
    df_polar = df_face.groupby('uploader').agg({'duration':np.sum, 'view_count':np.sum, 'negativity':np.sum,'comment_count':np.sum, }).reset_index()
    col3.metric(label = 'Total Duration (hrs)', value = int(sum(df_polar['duration'].values/(60*60))))
    col3.metric(label = 'Total Views', value =numerize.numerize(int(sum(df_polar['view_count'].values))) )
    col4.metric(label = 'Total Negativity', value = np.round(np.sum(df_polar['negativity'].values)/len(df_face),2) )
    col4.metric(label = 'Total Comments', value = numerize.numerize(int(sum(df_polar['comment_count'].values))))

,ids,upload_date,duration,comment_count,view_count,sentiment,uploader,tags,palakonda.png,tirupati_l2.png,...,urvakonda.png,rangaram.png,baptla.png,anantapur_l.png,dharmavaram.png,rampochandavram.png,rayachoti.png,Telakapalli_Ravi.png,hindupur.png,allagadda.png
0,Rtor62OCiys,2021-02-14,221.0,96.0,144107.0,0.996293,Sakshi,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
1,QxO1DeMYCVM,2021-11-10,41.0,71.0,60322.0,0.998422,Sakshi,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
2,m3cfL8baXbk,2022-08-24,251.0,0.0,2629.0,-0.998899,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
3,KjNlfEBUw0U,2022-09-11,170.0,1.0,3019.0,0.984340,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MAyzQU0-07E,2023-02-16,259.0,0.0,591.0,-0.993995,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7344,RlypWyKDoHI,2023-01-18,355.0,1.0,2267.0,-0.998632,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7345,P5GaRHl3Zdg,2023-01-07,254.0,0.0,1893.0,-0.995144,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,1,0
7346,bvrF-0Y_a_Y,2022-12-18,40.0,5.0,3112.0,0.995644,TV9,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7347,UWfN-mwTors,2022-12-10,490.0,124.0,45573.0,-0.997076,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0
7348,d2QEcCxlaDU,2023-03-01,90.0,127.0,86825.0,-0.998010,TV5,alliance,0,0,...,0,0,0,0,0,0,0,0,0,0

,tags,uploader,view_count_average,view_count,negative_video_uploads,duration,comment_count
0,AP,ABN,17335.259386,60950772.0,2348,9829561.0,43967.0
1,AP,Sakshi,45945.816383,132369897.0,707,4303269.0,135259.0
2,AP,TV5,27471.787723,112332140.0,2516,7536487.0,115924.0
3,AP,TV9,19490.263995,68586239.0,1853,3047259.0,46753.0
4,Atchannaidu,ABN,15686.148649,4643100.0,205,113025.0,4310.0
...,...,...,...,...,...,...,...
155,ysrcp,TV9,14891.251484,47666896.0,1849,642160.0,41652.0
156,yuvagalam,ABN,13489.438994,22001275.0,1088,1252631.0,18766.0
157,yuvagalam,Sakshi,32358.763909,45366987.0,448,483801.0,68368.0
158,yuvagalam,TV5,15630.547716,45860027.0,1531,1233010.0,52885.0
159,yuvagalam,TV9,16169.864460,25887953.0,865,293969.0,20015.0

35